* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

#pixelheart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

#name {
    color: red;
    text-align: center;
    padding-top: 15px;
    text-shadow: 1px 1px black;
}

.title {
    text-align: center;
    padding-top: 15px;
}

#bold {
    color: black;
    text-shadow: 2px 2px white;
}

.container {
    text-align: center;
    padding: 2%;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin-top: 3%;
    background-color: red;
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: 5% 26.6% 5% 26.6% 5% 26.6% 5%;
}

.abouttitle {
    margin-top: 10%;
    grid-column: 2/3;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/o.jpg");
    background-size: 100%;
    background-position: left;
    opacity: 0.9;
}

.allprojects {
    margin-top: 10%;
    grid-column: 4/5;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/projects.jpg");
    background-size: 120%;
    background-position: right;
}

.contact {
    margin-top: 10%;
    grid-column: 6/7;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/contact.jpg");
    background-size: 100%;
    background-position: left;
    opacity: 0.9;
}

.footer {
    margin-top: 4%;
    margin-bottom: 3%;
    grid-column: 1/8;
    text-align: center;

}

a.boxlink{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

a {
    text-decoration: none;
    color: red;
}
a:hover {
    color: black;
    text-shadow: 2px 2px white;

}

.aboutgrid {
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.aboutsection {
    margin-top: 10%;
    grid-column: 2/3;
}

.aboutimgbox {
    margin-top: 10%;
    grid-column: 4/5;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;

}
#aboutmeimg {
    width: 100%;
}

.contact_form_grid {
    display:grid;
    grid-template-columns: 5% 20% 5% 1fr 30%;
    grid-template-areas:
    ". . . form_text ."
    ". contact_info . contact_form .";
    padding-top: 20px;
}

#form_text {
    grid-area: form_text;
    margin-bottom: 1%;
}
.contact_form {
    grid-area: contact_form;
    text-align: center;
    border: 1.5px solid black;
    padding: 50px;
}

#contact_info {
    grid-area: contact_info;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

.input {
    width: 100%;
    padding: 1%;
    margin-bottom: 5%;
    border: 1px solid black;
}

