* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.pixelheart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-top: 2%;
}

.title {
    text-align: center;
    padding-top: 15px;
}

#name {
    color: red;
    text-align: center;
    padding-top: 15px;
    text-shadow: 1px 1px black;
}

/* Footer */
.footer {
    margin-top: 4%;
    margin-bottom: 3%;
    grid-column: 1/8;
    text-align: center;

}

.footer_link{
    margin-left: 10px;
    margin-right: 10px;
}

.footer_link:hover {
    color: black;
    margin-right: 10px;
}

/* Homepage */
.container {
    text-align: center;
    padding: 2%;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    margin-top: 3%;
    background-color: red;
    color: white;
}

#bold {
    color: black;
    text-shadow: 2px 2px white;
}

.grid {
    display: grid;
    grid-template-columns: 5% 26.6% 5% 26.6% 5% 26.6% 5%;
}

.abouttitle {
    margin-top: 10%;
    grid-column: 2/3;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/o.jpg");
    background-size: 100%;
    background-position: left;
    opacity: 0.9;
}

.allprojects {
    margin-top: 10%;
    grid-column: 4/5;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/projects.jpg");
    background-size: 120%;
    background-position: right;
}

.contact {
    margin-top: 10%;
    grid-column: 6/7;
    border: black solid 2px;
    text-align: center;
    padding: 20%;
    background-image: url("../images/contact.jpg");
    background-size: 100%;
    background-position: left;
    opacity: 0.9;
}

a.boxlink{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
}

a.boxlink:hover {
    color: black;
    text-shadow: 2px 2px white;
}

/* About me */
.aboutgrid {
    display: grid;
    grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.aboutsection {
    margin-top: 10%;
    grid-column: 2/3;
}

.aboutimgbox {
    margin-top: 10%;
    grid-column: 4/5;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
}

#aboutmeimg {
    width: 100%;
}

/* All projects */
.allprojects_grid {
    display:grid;
    margin-top: 5%;
    grid-template-columns: 15% 1fr 10% 1fr 15%;
    grid-template-rows: auto auto;
    grid-template-areas:
            ". portfolio_box . ledopafval_box ."
            ". trimafspreker_box . fp_box .";
    padding-top: 20px;
}

.portfolio_box {
    grid-area: portfolio_box;
    margin-bottom: 10%;
}

.ledopafval_box {
    grid-area: ledopafval_box;
    margin-bottom: 10%;
}

.trimafspreker_box {
    grid-area: trimafspreker_box;
    margin-bottom: 10%;
}

.fp_box {
    grid-area: fp_box;
    margin-bottom: 10%;
}

.project_title {
    margin-bottom: 2%;
}

.finished {
    color: green;
    float: right;
}

.unfinished {
    color: red;
    float: right;
}

.project_img {
    width: 100%;
    height: 100%;
    border: solid 2px black;
}

.details_btn {
    display: block;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    background-color: red;
    color: white;
}

.details_btn:hover {
    color: black;
}

/* Contact me */
.contact_form_grid {
    display:grid;
    grid-template-columns: 5% 20% 5% 1fr 30%;
    grid-template-areas:
            ". . . form_text ."
            ". contact_info . contact_form .";
    padding-top: 20px;
}

#form_text {
    grid-area: form_text;
    margin-bottom: 1%;
}

.contact_form {
    grid-area: contact_form;
    text-align: center;
    border: 1.5px solid black;
    padding: 50px;
}

.input {
    width: 100%;
    padding: 1%;
    margin-bottom: 5%;
    border: 1px solid black;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}

#contact_info {
    grid-area: contact_info;
}

/* General */
a {
    text-decoration: none;
    color: red;
}

.link {
    color: red;
}

.link:hover {
    color: black;
}

@media (max-width: 600px) {

    /* Home page */
    .grid {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
                ". abouttitle ."
                ". allprojects ."
                ". contact .";

    }

    .abouttitle {
        grid-area: abouttitle;
    }

    .allprojects {
       grid-area: allprojects;
    }

    .contact {
        grid-area: contact;
    }

    .footer {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .footer_link {
        font-size: 15px;
    }

    /* About me */
    .aboutgrid {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". aboutsection ."
    ". aboutimgbox .";
    }

    .aboutsection {
        grid-area: aboutsection;
    }

    .aboutimgbox {
        grid-area: aboutimgbox;
    }

    /* All projects */
    .allprojects_grid {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: ". portfolio_box ."
    ". ledopafval_box ."
    ". trimafspreker_box ."
    ". fp_box .";
    }

    .portfolio_box {
        grid-area: portfolio_box;
        padding-bottom: 20%;
    }

    .ledopafval_box {
        grid-area: ledopafval_box;
        padding-bottom: 20%;
    }

    .trimafspreker_box {
        grid-area: trimafspreker_box;
        padding-bottom: 20%;
    }

    .fp_box {
        grid-area: fp_box;
        padding-bottom: 20%;
    }

    /* Contact me */
    .contact_form_grid {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 5% 1fr 1fr;
        grid-template-areas: ". form_text ."
        ". contact_form ."
        ". contact_info .";
    }

    #form_text {
        grid-area: form_text;
    }

    .contact_form {
        grid-area: contact_form;
    }

    #contact_info {
        margin-top: 10%;
        grid-area: contact_info;
    }

    .input {
        padding: 3%;
    }
}